body{
    /* background: red; */
}
#div1{
    width: 1000px;
    height: 60px;
    border: 2px solid red;
    margin: 0px auto;
    
}
#div2{
    width: 1000px;
    height: 150px;
    border: 2px solid red;
    margin: 0px auto;
}
#div2-1{
    width: 996px;
    height: 30px;
    border: 2px solid blue;
}
.div2-2{
    width: 192px;
    height: 110px;
    border: 2px solid blue;
    float: left;
    margin-left: 3px;
}
#div3{
    width: 1000px;
    height: 150px;
    border: 2px solid red;
    margin: 0px auto;
}
#div4{
    margin:0px auto;
    width: 1000px;
    border: 2px solid red;
}
.div4-1{
    width: 320px;
    height: 200px;
    border: 2px solid blue;
    float: left;
    margin-left: 8px;
}
